

@font-face {
font-family: 'Montserrat-Bold';
src: url("");
src: url("") format('embedded-opentype'),
        url("Montserrat-Bold.woff") format('woff2'),
        url("Montserrat-Bold.woff") format('woff'),
        url("Montserrat-Bold.ttf") format('truetype'),
        url("") format('svg'),
        url("") format('otf');
}
  
@font-face {
font-family: 'Poppins-Bold';
src: url("");
src: url("") format('embedded-opentype'),
        url("") format('woff2'),
        url("") format('woff'),
        url("") format('truetype'),
        url("") format('svg'),
        url("") format('otf');
}
  
@font-face {
font-family: 'Poppins-Medium';
src: url("");
src: url("") format('embedded-opentype'),
        url("Poppins-Medium.woff") format('woff2'),
        url("Poppins-Medium.woff") format('woff'),
        url("Poppins-Medium.ttf") format('truetype'),
        url("") format('svg'),
        url("") format('otf');
}

@font-face {
font-family: 'Poppins-Regular';
src: url("");
src: url("") format('embedded-opentype'),
        url("") format('otf'),
        url("") format('svg'),
        url("Poppins-Regular.ttf") format('truetype'),
        url("Poppins-Regular.woff") format('woff'),
        url("Poppins-Regular.woff") format('woff2');
}
  
  